<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>blog</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>servlet.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Write</servlet-name>
    <servlet-class>servlet.Write</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Write</servlet-name>
    <url-pattern>/Write</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>servlet.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListAllArticle</servlet-name>
    <servlet-class>servlet.ListAllArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAllArticle</servlet-name>
    <url-pattern>/ListAllArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListByClass</servlet-name>
    <servlet-class>servlet.ListByClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListByClass</servlet-name>
    <url-pattern>/ListByClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InputComment</servlet-name>
    <servlet-class>servlet.InputComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputComment</servlet-name>
    <url-pattern>/InputComment</url-pattern>
  </servlet-mapping>

</web-app>